// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,400italic);

// Modals
@import "partials/modal";

// Body
$font-stack: 'Open Sans', sans-serif;
$main-background: #EFEFEF;

// Navigation
$hover-background: #E7E7E7;
$hover-text: #555;

body {
  background: $main-background;
  padding-top: 70px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: $hover-text;
  background-color: $hover-background;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

ul.footer-nav {
  padding:0;
  margin: 0;

  >li {
    display:inline-block;
    padding-right:5px;
  }
}

.footer-nav li::after {
  content: " |";
}

.footer-nav li:last-of-type::after {
  content: "";
}

p.copyright>span {
  color: #777;
}


/* MESSAGES */
.chat-body {
  height: 600px;
  overflow: auto;
}
.chat {
  list-style: none;
  background: #fff;
  margin: 0;
  padding: 20px 0;
}
.chat li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
  position: relative;
}

.chat li.self:after {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: 19px;
  right: 5px;
  width: 0px;
  height: 0px;
  border: 5px solid #efefef;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 0px 2px 0px #D4D4D4;
}
.chat li.other:before {
  content: "";
  position: absolute;
  bottom: 19px;
  left: 5px;
  width: 0px;
  height: 0px;
  border: 5px solid #00b0ff;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.chat .other .username {
  position: absolute;
  left: 15px;
  top: 0;
  color: #b30000;
}

.chat .self .username {
  display: none;
}

.other .msg {
  order: 1;
  border-top-left-radius: 0px;
  box-shadow: -1px 2px 0px #D4D4D4;
  background: #00b0ff;
  margin-top: 15px;
  margin-left: 10px;
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
}
.self .msg {
  order: 1;
  border-bottom-right-radius: 0px;
  box-shadow: 1px 2px 0px #D4D4D4;
  background: #efefef;
  margin-right: 10px;
}

.msg {
  background: white;
  min-width: 50px;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}
.msg p {
  font-size: 16px;
  margin: 0 0 0.2rem 0;
  color: #333;
}
.msg img {
  position: relative;
  display: block;
  width: 450px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #eee;
  transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
@media screen and (max-width: 800px) {
  .msg img {
    width: 300px;
  }
}
@media screen and (max-width: 550px) {
  .msg img {
    width: 200px;
  }
}

.msg time {
  font-size: 12px;
  color: #ccc;
  margin-top: 3px;
  float: right;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.self .msg time {
  font-size: 12px;
  color: #4d4d4d;
}
.msg time:before{
  content:"\e023";
  color: #ddd;
  font-family: 'Glyphicons Halflings';
  display: inline-block;
  margin-right: 4px;
}

.workspace-list {
  list-style: none;
  font-size: 16px;
}
.workspace-list .name {
  margin-right: 10px;
}